body {
    margin:0%;
    background-image: url('jungle.jpeg');
    background-size:100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: center;
    background-position-y: 50%;
}

.toppy {
    display:flex;
    justify-content: center;
}

.header {
    display:flex;
    justify-content: center;
    font-size: 600%;
    color:black;
    margin-bottom: 3%;
    margin-top: 3%;
    background-color: lightgreen;
    max-width: fit-content;
    
}

#fButtons {
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
    gap:0.5%;
}

#rk {
    background-image: url(gorilla-rock.jpg);
    padding: 7%;
    font-weight: bolder;
    font-size: 200%;
    color:white;
}

#pp{
    padding: 7%;
    font-weight: bolder;
    font-size: 200%;
    background-image: url(gorilla-paper.jpg);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    color:white;

}

#sz {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 5%;
    padding-right:5%;
    font-size:200%;
    font-weight: bolder;
    color:white;
    background-image: url(gorilla-scissors.png);

}

.scorez {
    display: flex;
    justify-content: center;
}

.scorez2 {
    color: black;
    font-size: 200%;
    margin-top:4%;
    background-color: lightgreen;
    max-width: fit-content;
}